.index-main-container {
    margin: 0;
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
/* Global */
.base-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: max-content;
}

/* Global-end */

/* User */
.index-connectedUsers-container {
    display: flex;
    justify-content: center;
}

#connectedUsers {
    padding: 0;
    width: 70%;
}

.user-item {
    list-style-type: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: max-content;
}

.user-item > p {
    color: white;
    font-size: small;
}

.user-item > div {
    display: flex;
    align-items: center;
    position: relative;
}

.user-item-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.user-item-text span:nth-child(1) {
    color: var(--c-text-primary);
}

.user-item-text span:nth-child(2) {
    color: var(--c-text-secondary);
}

.user-item:hover {
    border-radius: 20px;
    background-color: var(--c-divider);
}

.user-item.active {
    border-radius: 20px;
    background-color: var(--c-divider);
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    position: absolute;
    left: 30px;
    bottom: 15px;
}

.ONLINE {
    background-color: #00ff0c;
    box-shadow: 0 0 5px #2ecc71;
}

.OFFLINE {
    background-color: #ff2d00;
    box-shadow: 0 0 5px #95a5a6;
}
/* User end */
/* Chat */
.sender {
    background-color: #dcf8c6;
    color: #000;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 0 15px 15px 15px;
    max-width: 60%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.receiver {
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border-radius: 15px 0 15px 15px;
    max-width: 60%;
    margin: 8px 0 8px auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #f1f1f1;
}

.chat-messages {
    height: 82%;
    width: 100%;
    overflow: auto;
    word-break: break-word;
}

.chat-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
/* Chat end */

/* First Column */
.index-first-column {
    width: 25%;
    background-color: var(--c-background-secondary);
    display: flex;
    align-items: center;
}

.index-first-column > h1 {
    color: var(--c-text-primary);
    margin: 20px 0 20px 0;
}

.index-divider {
    width: 80%;
    background-color: var(--c-divider);
    height: 1px;
}
/* First Column end */
/* Second column */
.index-second-column {
    width: 60%;
    background-color: var(--c-background-secondary);
}

.index-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--c-background-secondary);
    height: 10%;
    width: 100%;
}

.index-header-icon {
    margin-left: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.index-header-text {
    margin-left: 1rem;
    color: #ffffff;
}

.index-inbox-container {
    margin: 20px;
}

.index-inbox-container > button {
    border: none;
}

.index-bottom-part {
    height: 7%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.index-bottom-part .input-group {
    height: 100%;
    width: 100%;
}

.index-bottom-part #messageForm {
    height: 100%;
    width: 90%;
}

.input-group > button {
    background-color: var(--c-checked-state);
}

.input-group > button:hover {
    background-color: var(--c-checked-state);
}

.input-group .form-control {
    background-color: var(--c-background-primary);
    border: none;
    border-radius: 20px;
    color: #ffffff;
}

.input-group .form-control::placeholder {
    color: #6c757d;
}

.input-group .form-control:focus {
    background-color: var(--c-background-primary);
    box-shadow: none;
    color: #fff;
}
/* Second column end */
/* Third column */
.index-third-column {
    width: 20%;
    background-color: var(--c-background-primary);
}
/* Third column end */