.navbar {
    width: 5%;
    background-color: #191b1f;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    background: rgb(130,41,67);
    background: linear-gradient(180deg, rgba(130,41,67,1) 0%, rgba(142,66,196,1) 50%, rgba(82,53,70,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.3s ease-in-out;
}

.navbar-btn-active {
    background: rgb(130,41,67);
    background: linear-gradient(180deg, rgba(130,41,67,1) 0%, rgba(142,66,196,1) 50%, rgba(82,53,70,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navbar-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}