<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" href="../static/css/nav.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" href="../static/css/profile.css">
    <link rel="stylesheet" type="   text/css" th:href="@{/css/inbox.css}" href="../static/css/inbox.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
  <div class="inbox-main-container" layout:fragment="content">
    <div class="inbox-first-column base-column">
      <div class="inbox-first-column-header">
          <i class="fa-solid fa-envelope"></i>
          <h2>Inbox</h2>
      </div>
      <div class="inbox-first-column-notification-container">
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
          <a class="inbox-first-column-notification">
              <div>
                  <p>Notification</p> <!-- Title -->
                  <p>12:52pm</p> <!-- TimeSent -->
              </div>
              <p>asdadasdassaddsasdsasad...</p> <!-- Description (15 char) -->
          </a>
      </div>
    </div>
    <div class="inbox-second-column base-column">
        <div class="inbox-second-column-notification">
            <div>
                <h3>Notification</h3>
                <p>12:52pm</p>
            </div>
            <p>adasdadasdsadasdasdasdasdasdsadasdasdadasdasdaaaaaaaaa</p>
        </div>
    </div>
  </div>
</body>
</html>